/* Nav Styles*/

.main-nav{
    margin: 0 auto;
    display: flex;
    height: 13vh;
    background-color: var(--dark-grey);
    font-family: var(--text-font);

    .nav-logo{
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 15%;
    }

    ul{
        margin: 0 auto;
        width: 50%;
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        li{
            display: flex;
            align-items: center;
            padding: 2rem;
            height: 100%;
            font-size: 1.6rem;
            a{
                text-decoration: none;
                color: var(--light-grey);
            }
            a:hover{
                color: var(--ladrillo);
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
            }
            .link-deactivate{
                color:(var(--main-color))
            }
            .link-deactivate:hover{
                color: var(--main-color);
            }
        }

    }
}