@import url(nav-styles.css);

/* Estilos generales */
:root{
    /*Colores*/
    --main-color: #222;

    --arena: #FBB879;
    --ladrillo: #C37A71;
    --uva: #6B5B61;

    --lighting-grey: #C5C5C5;
    --light-grey: #7D7D7D;
    --normal-grey: #343434;
    --dark-grey: #181818;

    /*Fuentes*/
    --main-font: 'Playfair Display', serif;
    --text-font: 'Barlow', sans-serif;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    background-color: var(--main-color);
}



/* Main Content Styles*/

.main-sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Stilos para Article */

.card{
    margin-bottom: 1rem;
    display: flex;
    align-items:center;
    width: 100vw;
    height: 300px;
}

.card-img{
    width: 100%;
}

.card1, .card2, .card3, .card4, .card5, .card6{
    background-position: center;
    background-size:cover;
}

.card1{
    justify-content: flex-start;
    background-image: url(/assets/img/barricasRecorte.png);
}

.card2{
    display: flex;
    justify-content: center;
}

.card3{
    justify-content: flex-end;
    background-image: url(/assets/img/uvaRecorte.png);
}

.card4{
    justify-content: flex-start;
    background-image: url(/assets/img/copaBn-01.png);
}

.card5{
    justify-content: flex-end;
    background-image: url(/assets/img/campoBodega.png);
}

/* section Contacto */
.card6{
    background-image: url(/assets/img/enConstruccion.png);
}

.textos{
    margin-left: 10rem;
    width: 30%;
    h4{ 
        margin-bottom: .5rem;
        font-size: 4rem;
        color: var(--light-grey);
        font-weight: 200;
    }
    h2{
        margin-bottom: .5rem;
        font-size: 2.2rem;
        color: var(--lighting-grey);
        font-weight: 100;
        letter-spacing: .2rem;
    }
    p{
        font-family: var(--text-font);
        font-size: 1.6rem;
        color: var(--lighting-grey);
        font-weight: 200;
        line-height: 2rem;
        letter-spacing: .1rem;
    }
}

.header-title{
    width: 35%;
    
}

.textos-izq{
    margin-left: 10rem;
}

.textos-der{
    margin-right: 10rem;
    text-align: right;
}


.texto3{
    background-color: #6b5b61bf;
    padding: 3rem;
    width: 50%;
    height: auto;
    border-radius: 6rem 0rem ;
    -webkit-border-radius: 6rem 0rem ;
    -moz-border-radius: 6rem 0rem ;
    -ms-border-radius: 6rem 0rem ;
    -o-border-radius: 6rem 0rem ;
    h4:;
{
        color: var(--arena);
    }
    p{
        font-weight: 200;
    }
}

.texto4{
    width: 50%;
    h4{
        color: var(--ladrillo);
    }
    h2{
        color: var(--uva);
    }
    p{
        color:var(--main-color);
        margin-bottom: 2rem;
        
    }
}

.texto5{
    width: 45%;
    h4{
        color: var(--arena);
    }
    h2{
        font-size: 2rem;
        color: var(--ladrillo);
        font-weight: 100;
    
    }
}

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--arena);
    font-size: 1.6rem;
    width: 20rem;
    height: 20rem;
    margin: 0 1rem;

}


/* Footer Styles*/

.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--dark-grey);
    color: var(--normal-grey);

    font-family: var(--text-font);
    font-weight: 100;
}