@import url(nav-styles.css);

/* Estilos generales */
:root{
    /*Colores*/
    --main-color: #222;

    --arena: #FBB879;
    --ladrillo: #C37A71;
    --uva: #6B5B61;

    --lighting-grey: #C5C5C5;
    --light-grey: #7D7D7D;
    --normal-grey: #343434;
    --dark-grey: #181818;

    /*Fuentes*/
    --main-font: 'Playfair Display', serif;
    --text-font: 'Barlow', sans-serif;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    background-color: var(--main-color);
}



/* Main Content Styles*/

.main-sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    min-width: 360px;
}

.card{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    height: 300px;
}

.card-img{
    width: 100%;
}

.card{
    margin-bottom: 1rem;
}

.textos{
    position: absolute;
    margin-left: 10rem;
    width: 50%;
    h4{
        font-size: 3rem;
        color: var(--light-grey);
        font-weight: 200;
    }
}

.card1{
    width: 100%;
}

.card2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
}

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--arena);
    font-size: 1.6rem;
    width: 20rem;
    height: 20rem;
    margin: 0 1rem;

}


/* Footer Styles*/

.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--dark-grey);
    color: var(--normal-grey);

    font-family: var(--text-font);
    font-weight: 100;
}